<launch>
    <!-- Load the pleatrobot URDF model into the parameter server	-->
    <param name="robot_description"	textfile="$(find pleatrobot_description)/urdf/pleatrobot.urdf"	/>

    <!-- Start	Gazebo	with an empty world	-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    
    <!-- Spawn pleatrobot in Gazebo, taking the description from the parameter	server	-->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
            args="-param robot_description -urdf -model pleatrobot -x 0 -y 0 -z 0" />

    <rosparam file="$(find pleatrobot_control)/controllers.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          args="gantry_controller kuka_controller gripper_controller"/>

    <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner"
          args="gantry_controller kuka_controller"/> -->

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>



